[Desktop Entry]
Encoding=UTF-8
Name=Solaris
Comment=Solaris P2P Cryptocurrency
Comment[fr]=Solaris, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Solaris, eşten eşe kriptografik sanal para birimi
Exec=solaris-qt %u
Terminal=false
Type=Application
Icon=solaris128
MimeType=x-scheme-handler/solaris;
Categories=Office;Finance;
