[Desktop Entry]
Encoding=UTF-8
Name=Transend
Comment=Transend P2P Cryptocurrency
Comment[fr]=Transend, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Transend, eşten eşe kriptografik sanal para birimi
Exec=solaris-qt %u
Terminal=false
Type=Application
Icon=solaris128
MimeType=x-scheme-handler/solaris;
Categories=Office;Finance;
