[Unit]
Description=Solaris's distributed currency daemon
After=network.target

[Service]
User=solaris
Group=solaris

Type=forking
PIDFile=/var/lib/solarisd/solarisd.pid

ExecStart=/usr/bin/solarisd -daemon -pid=/var/lib/solarisd/solarisd.pid \
          -conf=/etc/solaris/solaris.conf -datadir=/var/lib/solarisd

ExecStop=-/usr/bin/solaris-cli -conf=/etc/solaris/solaris.conf \
         -datadir=/var/lib/solarisd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
