[Unit]
Description=Transend's distributed currency daemon
After=network.target

[Service]
User=Transend
Group=Transend

Type=forking
PIDFile=/var/lib/Transendd/Transendd.pid

ExecStart=/usr/bin/Transendd -daemon -pid=/var/lib/Transendd/Transendd.pid \
          -conf=/etc/Transend/Transend.conf -datadir=/var/lib/Transendd

ExecStop=-/usr/bin/Transend-cli -conf=/etc/Transend/Transend.conf \
         -datadir=/var/lib/Transendd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
